# Demo Pandas

## Import Library

In [7]:
import pandas as pd

## Series

In [8]:
data = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(data)

a    10
b    20
c    30
dtype: int64

### DataFrame

In [9]:
df = pd.DataFrame({
    "Name": ["Mark", "Emma", "Noah"],
    "Math": [90, 85, 88],
    "Science": [87, 90, 92]
})
print(df)

   Name  Math  Science
0  Mark    90       87
1  Emma    85       90
2  Noah    88       92